body {
  background-color: lightblue;
}

h1 {
  color: black;
  text-align: center;
  font-size: 50px
}

h2{
  color: black;
  font-size: 30px
}

p {
  font-family: verdana;
  font-size: 11px;
}

#paragraph2 {
  background-color: white;
  line-height: 2;
  font-size: 10px;
  border-style: solid;
  border-color: green;
  border-width: 3px;
  padding: 15px;
  margin-right: 500px;
  margin-left: 20px;
}

.blue{
  background-color: darkblue;
  color: white;
  padding: 18px;
}

ol {
  list-style: decimal-leading-zero;
  list-style-position: inside;
  padding-left: 0;
  margin: 0;
  line-height: 1.5;
}

ol a{
  color: darkblue;
}

p a{
  color: darkred;
}

table,th,td{
  border: 1px solid;
  border-collapse: collapse; 
  background-color: white;
  line-height: 1;
}

td{
  padding: 10px;
  text-align: left;
}

th{
  background-color: lightgrey;
  text-align: center;
}

